In [193]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

#Converting the State names to abbrev.
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [194]:
#Webscrabing Weather Data from Current Results Website - average-annual-state-sunshine

#Load the URL of interest.
data_url = 'https://www.currentresults.com/Weather/US/average-annual-state-sunshine.php'
print(data_url)

# Request the page and use BeautifulSoup to extract the contents
page = requests.get(url = data_url)
soup = BeautifulSoup(page.content, 'html.parser')

# Request the page and use BeautifulSoup to extract the headings
table_header = soup.find('thead')
table_headers = table_header.find_all('th')
headings_list = []
for header in table_headers:
    headings_list.append(header.text)

# Request the page and use BeautifulSoup to extract the Table of interest
#There area total of 3 tables on the page.
table = soup.find('tbody')
rows = table.find_all('tr')

#Covert the collected data into a dataframe
r = len(rows)
c = len(table_headers)
arr = [[0 for i in range(c)] for j in range(r)] 
for row in range(r):
    for col in range(c):
        value_row = rows[row].find_all('td')
        value_col = value_row[col].text
        arr[row][col] = value_col

df1 = pd.DataFrame.from_dict(arr) 
df1.columns = headings_list

# Request the page and use BeautifulSoup to extract the Table of interest
#There area total of 3 tables on the page.
tables = soup.find_all(attrs={'class':'articletable tablecol-1-left tablecol-2-left smalltext'})
#print(len(tables))
table = tables[0].find('tbody')
rows_2 = table.find_all('tr')

r2 = len(rows_2)
c2 = len(headings_list)
arr2 = [[0 for i in range(c2)] for j in range(r2)]

for row2 in range(r2):
    for col2 in range(c2):
        value_row_2 = rows_2[row2].find_all('td')
        value_col_2 = value_row_2[col2].text
        arr2[row2][col2] = value_col_2
df2 = pd.DataFrame.from_dict(arr2) 
df2.columns = headings_list

# Request the page and use BeautifulSoup to extract the Table of interest
#There area total of 3 tables on the page.
tables = soup.find_all(attrs={'class':'articletable tablecol-1-left tablecol-2-left smalltext'})
table = tables[1].find('tbody')
rows_3 = table.find_all('tr')

r3 = len(rows_3)
c3 = len(headings_list)
arr3 = [[0 for i in range(c3)] for j in range(r3)]

for row3 in range(r3):
    for col3 in range(c3):
        value_row_3 = rows_3[row3].find_all('td')
        value_col_3 = value_row_3[col3].text
        arr3[row3][col3] = value_col_3
df3 = pd.DataFrame.from_dict(arr3) 
df3.columns = headings_list

#Average Annual Sunshine combine all 3 tables into one.
frames = [df1, df2, df3]
result = pd.concat(frames)
Average_Annual_Sunshine = result
Average_Annual_Sunshine['State'] = Average_Annual_Sunshine['State'].map(us_state_abbrev)
Average_Annual_Sunshine

https://www.currentresults.com/Weather/US/average-annual-state-sunshine.php

   State           Place % Sun Total Hours Clear Days
0     AL      Birmingham    58        2641         99
1     AK       Anchorage    41        2061         61
2     AZ          Tucson    85        3806        193
3     AR      Fort Smith    61        2771        123
4     CA       San Diego    68        3055        146
5     CO  Grand Junction    71        3204        136
6     CT        Hartford    56        2585         82
7     DE      Wilmington     –           –         97
8     FL           Tampa    66        2927        101
9     GA           Macon    66        2986        112
10    HI        Honolulu    71           –         90
11    ID           Boise    64        2993        120
12    IL          Peoria    56        2567         95
13    IN    Indianapolis    55        2440         88
14    IA      Des Moines    59        2691        105
15    KS         Wichita    65        2922        128
0     KY      Louisville    56        2514         93
1     LA     New Orleans    57        2649        101
2     ME        Portland    57        2513        101
3     MD       Baltimore    57        2582        105
4     MA          Boston    58        2634         98
5     MI         Lansing    51        2392         71
6     MN     Minneapolis    58        2711         95
7     MS         Jackson    61        2720        111
8     MO     Springfield    60        2690        115
9     MT          Helena    59        2698         82
10    NE         Lincoln    61        2762        117
11    NV            Reno    79        3646        158
12    NH         Concord    54        2519         90
13    NJ   Atlantic City    56        2499         94
14    NM     Albuquerque    76        3415        167
15    NY        Syracuse    46        2120         63
16    NC      Greensboro    60        2651        109
17    ND        Bismarck    59        2738         93
0     OH        Columbus    50        2183         72
1     OK   Oklahoma City    68        3089        139
2     OR        Portland    48        2341         68
3     PA      Harrisburg    58        2614         87
4     RI      Providence    58        2606         98
5     SC        Columbia    64        2826        115
6     SD           Huron    63        2947        104
7     TN       Nashville    56        2510        102
8     TX          Dallas    61        2850        135
9     UT  Salt Lake City    66        3029        125
10    VT      Burlington    49        2295         58
11    VA        Richmond    63        2829        100
12    WA         Seattle    47        2170         58
13    WV         Beckley     –           –         60
14    WI         Madison    54        2428         89
15    WY          Lander    68        3073        114

In [195]:
#Webscrabing Weather Data from Current Results Website -average-annual-state-temperatures

#Load the URL of interest.
data_url = 'https://www.currentresults.com/Weather/US/average-annual-state-temperatures.php'
print(data_url)

# Request the page and use BeautifulSoup to extract the contents
page = requests.get(url = data_url)
soup = BeautifulSoup(page.content, 'html.parser')

# Request the page and use BeautifulSoup to extract the Table of interest
#There area total of 3 tables on the page.
tables = soup.find_all(attrs={'class':'articletable tablecol-1-left'})

# Request the page and use BeautifulSoup to extract the header
table_header = soup.find('thead')
table_headers = table_header.find_all('th')
headings_list = []
for header in table_headers:
    headings_list.append(header.text)
# Request the page and use BeautifulSoup to extract values and place them into a dataframe
Average_Annual_Temperature = pd.DataFrame()
for i in range(len(tables)):
    table = tables[i].find('tbody')
    rows_3 = table.find_all('tr')
    r3 = len(rows_3)
    c3 = len(headings_list)
    arr3 = [[0 for i in range(c3)] for j in range(r3)]

    for row3 in range(r3):
        for col3 in range(c3):
            value_row_3 = rows_3[row3].find_all('td')
            value_col_3 = value_row_3[col3].text
            arr3[row3][col3] = value_col_3
    df = pd.DataFrame.from_dict(arr3)
    df.columns = headings_list
    Average_Annual_Temperature = pd.concat([Average_Annual_Temperature,df])
#Combine all 3 tables into one.
Average_Annual_Temperature['State'] = Average_Annual_Temperature['State'].map(us_state_abbrev)
Average_Annual_Temperature

https://www.currentresults.com/Weather/US/average-annual-state-temperatures.php

   State Avg °F Avg °C Rank
0     AL   62.8   17.1    7
1     AK   26.6   -3.0   50
2     AZ   60.3   15.7   10
3     AR   60.4   15.8    9
4     CA   59.4   15.2   12
5     CO   45.1    7.3   39
6     CT   49.0    9.4   29
7     DE   55.3   12.9   16
8     FL   70.7   21.5    1
9     GA   63.5   17.5    5
10    HI   70.0   21.1    2
11    ID   44.4    6.9   40
12    IL   51.8   11.0   23
13    IN   51.7   10.9   25
14    IA   47.8    8.8   36
15    KS   54.3   12.4   19
16    KY   55.6   13.1   15
0     LA   66.4   19.1    3
1     ME   41.0    5.0   48
2     MD   54.2   12.3   20
3     MA   47.9    8.8   35
4     MI   44.4    6.9   40
5     MN   41.2    5.1   47
6     MS   63.4   17.4    6
7     MO   54.5   12.5   18
8     MT   42.7    5.9   45
9     NE   48.8    9.3   30
10    NV   49.9    9.9   28
11    NH   43.8    6.6   42
12    NJ   52.7   11.5   22
13    NM   53.4   11.9   21
14    NY   45.4    7.4   37
15    NC   59.0   15.0   13
16    ND   40.4    4.7   49
0     OH   50.7   10.4   26
1     OK   59.6   15.3   11
2     OR   48.4    9.1   33
3     PA   48.8    9.3   30
4     RI   50.1   10.1   27
5     SC   62.4   16.9    8
6     SD   45.2    7.3   38
7     TN   57.6   14.2   14
8     TX   64.8   18.2    4
9     UT   48.6    9.2   32
10    VT   42.9    6.1   44
11    VA   55.1   12.8   17
12    WA   48.3    9.1   34
13    WV   51.8   11.0   23
14    WI   43.1    6.2   43
15    WY   42.0    5.6   46

In [196]:
#Webscrabing Weather Data from Current Results Website - Average Yearly Snowfall by American State

#Load the URL of interest.
data_url = 'https://www.currentresults.com/Weather/US/average-snowfall-by-state.php'
page = requests.get(url = data_url)
soup = BeautifulSoup(page.content, 'html.parser')

# Request the page and use BeautifulSoup to extract the Table of interest
#There area total of 3 tables on the page.
tables = soup.find_all(attrs={'class':'articletable tablecol-2-left tablecol-3-left smalltext'})


# Request the page and use BeautifulSoup to extract the header
table_header = soup.find('thead')
table_headers = table_header.find_all('th')
headings_list = []
for header in table_headers:
    headings_list.append(header.text)
    
#Extract the information from the table values and place them into Dataframes
Average_Yearly_Snowfall = pd.DataFrame()
for i in range(len(tables)):
    table = tables[i].find('tbody')
    rows_3 = table.find_all('tr')
    r3 = len(rows_3)
    c3 = len(headings_list)
    arr3 = [[0 for i in range(c3)] for j in range(r3)]

    for row3 in range(r3):
        for col3 in range(c3):
            value_row_3 = rows_3[row3].find_all('td')
            value_col_3 = value_row_3[col3].text
            arr3[row3][col3] = value_col_3
    df1 = pd.DataFrame.from_dict(arr3) 
    df1.columns = headings_list
    Average_Yearly_Snowfall = pd.concat([Average_Yearly_Snowfall,df1])

#Combine all 3 tables into one.
Average_Yearly_Snowfall['State'] = Average_Yearly_Snowfall['State'].map(us_state_abbrev)
Average_Yearly_Snowfall

      Days State           Place   Inches Cen­ti­me­tres
0      0.8    AL     Birming­ham      1.6            4.1
1     48.0    AK      Anchor­age     74.5          189.2
2      0.3    AZ          Tucson      0.3            0.8
3      3.8    AR      Fort Smith      5.2           13.2
4      0.0    CA       San Diego      0.0            0.0
5     19.1    CO  Grand Junction     19.1           48.5
6     20.1   NaN        Hartford     40.5          102.9
7     11.8    DE     Wilming­ton     20.2           51.3
8      0.0    FL           Tampa      0.0            0.0
9      0.7    GA           Macon      0.7            1.8
10     0.0    HI        Honolulu      0.0            0.0
11  19.4\t    ID           Boise     19.2           48.8
12    19.9    IL          Peoria     24.6           62.5
13    23.5    IN   Indiana­polis     25.9           65.8
14    26.2    IA      Des Moines     34.9           88.6
15    10.0    KS         Wichita     14.7           37.3
16    11.8    KY      Louisville     12.5           31.8
0      0.1    LA     New Orleans      0.0            0.0
1     27.8    ME        Portland     61.8          157.0
2      9.6    MD       Baltimore     20.2           51.3
3     22.4   NaN          Boston     43.8          111.3
4     44.7    MI         Lansing     51.1          129.8
5     37.3    MN    Minnea­polis     54.0          137.2
6      0.6    MS         Jackson      0.9            2.3
7     11.5    MO    Spring­field     17.0           43.2
8     32.9    MT          Helena     38.1           96.8
9     18.3    NE         Lincoln     25.9           65.8
10    16.3    NV            Reno     21.8           55.4
11    29.8    NH         Concord     60.8          154.4
12     8.7    NJ   Atlantic City     16.5           41.9
13     9.5    NM    Albuquer­que      9.6           24.4
14    66.4    NY        Syracuse  123.8\t          314.5
15     3.9    NC     Greens­boro      7.6           19.3
16    45.2    ND        Bismarck     51.2          130.0
0     30.4    OH        Columbus     27.5           69.9
1      5.6   NaN   Oklahoma City      7.8           19.8
2      2.2    OR        Portland      3.0            7.6
3     19.4   NaN     Harris­burg     28.2           71.6
4     18.7    RI     Provi­dence     33.8           85.9
5      0.3    SC        Columbia      0.5            1.3
6     30.1    SD           Huron     43.9          111.5
7      6.2   NaN       Nashville      6.3           16.0
8    1.3\t    TX          Dallas      1.5            3.8
9     34.8    UT  Salt Lake City     56.2          142.7
10  54.4\t    VT      Burlington     81.2          206.2
11     6.1    VA        Richmond     10.3           26.2
12     3.0   NaN         Seattle      5.0           12.7
13    37.7    WV         Beckley     62.0          157.5
14    38.7    WI         Madison     50.9          129.3
15    36.7    WY          Lander     91.4          232.2

In [197]:
#Outer merge all three data sets
Weather_data = Average_Annual_Sunshine.merge(Average_Yearly_Snowfall,\
                            how='outer',\
                            on=['State'],\
                            )

Weather_data = Weather_data.merge(Average_Annual_Temperature,\
                            how='outer',\
                            on='State',\
                            )

In [198]:
Weather_data

,State,Place_x,% Sun,Total Hours,Clear Days,Days,Place_y,Inches,Cen­ti­me­tres,Avg °F,Avg °C,Rank
0,AL,Birmingham,58,2641,99,0.8,Birming­ham,1.6,4.1,62.8,17.1,7
1,AK,Anchorage,41,2061,61,48.0,Anchor­age,74.5,189.2,26.6,-3.0,50
2,AZ,Tucson,85,3806,193,0.3,Tucson,0.3,0.8,60.3,15.7,10
3,AR,Fort Smith,61,2771,123,3.8,Fort Smith,5.2,13.2,60.4,15.8,9
4,CA,San Diego,68,3055,146,0.0,San Diego,0.0,0.0,59.4,15.2,12
5,CO,Grand Junction,71,3204,136,19.1,Grand Junction,19.1,48.5,45.1,7.3,39
6,CT,Hartford,56,2585,82,NaN,NaN,NaN,NaN,49.0,9.4,29
7,DE,Wilmington,–,–,97,11.8,Wilming­ton,20.2,51.3,55.3,12.9,16
8,FL,Tampa,66,2927,101,0.0,Tampa,0.0,0.0,70.7,21.5,1
9,GA,Macon,66,2986,112,0.7,Macon,0.7,1.8,63.5,17.5,5
10,HI,Honolulu,71,–,90,0.0,Honolulu,0.0,0.0,70.0,21.1,2
11,ID,Boise,64,2993,120,19.4\t,Boise,19.2,48.8,44.4,6.9,40
12,IL,Peoria,56,2567,95,19.9,Peoria,24.6,62.5,51.8,11.0,23
13,IN,Indianapolis,55,2440,88,23.5,Indiana­polis,25.9,65.8,51.7,10.9,25
14,IA,Des Moines,59,2691,105,26.2,Des Moines,34.9,88.6,47.8,8.8,36
15,KS,Wichita,65,2922,128,10.0,Wichita,14.7,37.3,54.3,12.4,19
16,KY,Louisville,56,2514,93,11.8,Louisville,12.5,31.8,55.6,13.1,15
17,LA,New Orleans,57,2649,101,0.1,New Orleans,0.0,0.0,66.4,19.1,3
18,ME,Portland,57,2513,101,27.8,Portland,61.8,157.0,41.0,5.0,48
19,MD,Baltimore,57,2582,105,9.6,Baltimore,20.2,51.3,54.2,12.3,20
20,MA,Boston,58,2634,98,NaN,NaN,NaN,NaN,47.9,8.8,35
21,MI,Lansing,51,2392,71,44.7,Lansing,51.1,129.8,44.4,6.9,40
22,MN,Minneapolis,58,2711,95,37.3,Minnea­polis,54.0,137.2,41.2,5.1,47
23,MS,Jackson,61,2720,111,0.6,Jackson,0.9,2.3,63.4,17.4,6
24,MO,Springfield,60,2690,115,11.5,Spring­field,17.0,43.2,54.5,12.5,18
25,MT,Helena,59,2698,82,32.9,Helena,38.1,96.8,42.7,5.9,45
26,NE,Lincoln,61,2762,117,18.3,Lincoln,25.9,65.8,48.8,9.3,30
27,NV,Reno,79,3646,158,16.3,Reno,21.8,55.4,49.9,9.9,28
28,NH,Concord,54,2519,90,29.8,Concord,60.8,154.4,43.8,6.6,42
29,NJ,Atlantic City,56,2499,94,8.7,Atlantic City,16.5,41.9,52.7,11.5,22
30,NM,Albuquerque,76,3415,167,9.5,Albuquer­que,9.6,24.4,53.4,11.9,21
31,NY,Syracuse,46,2120,63,66.4,Syracuse,123.8\t,314.5,45.4,7.4,37
32,NC,Greensboro,60,2651,109,3.9,Greens­boro,7.6,19.3,59.0,15.0,13
33,ND,Bismarck,59,2738,93,45.2,Bismarck,51.2,130.0,40.4,4.7,49
34,OH,Columbus,50,2183,72,30.4,Columbus,27.5,69.9,50.7,10.4,26
35,OK,Oklahoma City,68,3089,139,NaN,NaN,NaN,NaN,59.6,15.3,11
36,OR,Portland,48,2341,68,2.2,Portland,3.0,7.6,48.4,9.1,33
37,PA,Harrisburg,58,2614,87,NaN,NaN,NaN,NaN,48.8,9.3,30
38,RI,Providence,58,2606,98,18.7,Provi­dence,33.8,85.9,50.1,10.1,27
39,SC,Columbia,64,2826,115,0.3,Columbia,0.5,1.3,62.4,16.9,8
40,SD,Huron,63,2947,104,30.1,Huron,43.9,111.5,45.2,7.3,38
41,TN,Nashville,56,2510,102,NaN,NaN,NaN,NaN,57.6,14.2,14
42,TX,Dallas,61,2850,135,1.3\t,Dallas,1.5,3.8,64.8,18.2,4
43,UT,Salt Lake City,66,3029,125,34.8,Salt Lake City,56.2,142.7,48.6,9.2,32
44,VT,Burlington,49,2295,58,54.4\t,Burlington,81.2,206.2,42.9,6.1,44
45,VA,Richmond,63,2829,100,6.1,Richmond,10.3,26.2,55.1,12.8,17
46,WA,Seattle,47,2170,58,NaN,NaN,NaN,NaN,48.3,9.1,34
47,WV,Beckley,–,–,60,37.7,Beckley,62.0,157.5,51.8,11.0,23
48,WI,Madison,54,2428,89,38.7,Madison,50.9,129.3,43.1,6.2,43
49,WY,Lander,68,3073,114,36.7,Lander,91.4,232.2,42.0,5.6,46
50,NaN,NaN,NaN,NaN,NaN,20.1,Hartford,40.5,102.9,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,22.4,Boston,43.8,111.3,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,5.6,Oklahoma City,7.8,19.8,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,19.4,Harris­burg,28.2,71.6,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,6.2,Nashville,6.3,16.0,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,3.0,Seattle,5.0,12.7,NaN,NaN,NaN

In [199]:
null = Weather_data[Weather_data.isna().any(axis=1)]
null

,State,Place_x,% Sun,Total Hours,Clear Days,Days,Place_y,Inches,Cen­ti­me­tres,Avg °F,Avg °C,Rank
6,CT,Hartford,56,2585,82,NaN,NaN,NaN,NaN,49.0,9.4,29
20,MA,Boston,58,2634,98,NaN,NaN,NaN,NaN,47.9,8.8,35
35,OK,Oklahoma City,68,3089,139,NaN,NaN,NaN,NaN,59.6,15.3,11
37,PA,Harrisburg,58,2614,87,NaN,NaN,NaN,NaN,48.8,9.3,30
41,TN,Nashville,56,2510,102,NaN,NaN,NaN,NaN,57.6,14.2,14
46,WA,Seattle,47,2170,58,NaN,NaN,NaN,NaN,48.3,9.1,34
50,NaN,NaN,NaN,NaN,NaN,20.1,Hartford,40.5,102.9,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,22.4,Boston,43.8,111.3,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,NaN,5.6,Oklahoma City,7.8,19.8,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,19.4,Harris­burg,28.2,71.6,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,6.2,Nashville,6.3,16.0,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,3.0,Seattle,5.0,12.7,NaN,NaN,NaN

In [200]:
#Export Weather Files and replace the missing data byt looking up missing infromation from the root sources and filling them in manual process on the CVS files.


#EXPORT THIS PART OF THE CODE ONLY ONCE, DO NOT RUN AFTER THE FILES WITH MISSING INFORMATION IS UPDATED.
#Average_Annual_Sunshine.to_csv('Average_Annual_Sunshine',index=False)
#Average_Annual_Temperature.to_csv('Average_Annual_Temperature',index=False)
#Average_Yearly_Snowfall.to_csv('Average_Yearly_Snowfall',index=False)